@(status : String)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <title>Boop</title>
</head>
<body>
@nav.render("home")
<div class="jumbotron bg-success">
    <div class="row">
        <div class="col-12 text-center display-2">
            @status
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 text-center">
            <form id="photoFolder" method="POST" class="form-control" action="/../">
                @CSRF.formField
                <input type="submit" value="Upload Folder" class="btn">
            </form>
        </div>
    </div>
</div>
</body>
</html>