@(page : String)
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="nav navbar-nav">

        @if("home".equals(page)){
        <li class="nav-item active">
            } else {
        <li class="nav-item">
            }
            <a class="nav-link" href="/../">Home</a>
        </li>
        @if("photos".equals(page)){
        <li class="nav-item active">
            } else {
        <li class="nav-item">
            }
            <a class="nav-link" href="/../photos">Photos</a>
        </li>
        @if("upload".equals(page)){
        <li class="nav-item active">
            } else {
        <li class="nav-item">
            }<a class="nav-link" href="/../upload">Upload Photo</a></li>
    </ul>
</nav>