@import models.PhotoDetail
@(photos : List[PhotoDetail])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/lib/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/assets/lib/slick/slick-theme.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <title>@photos.get(0).getPhotographer</title>
</head>
<body>
@nav.render("photographer")
<div class="jumbotron">
    <div class="row">
        <div class="col-12 text-center display-2">
            @photos.get(0).getPhotographer
        </div>
    </div>
</div>
<div class="container bg-dark">

    <div class="imagecarousel col-md-10 offset-md-1">
        @for(photo <- photos) {
        <div class="text-center text-light"><img data-lazy='@routes.Assets.versioned("images/" + photo.getPhotoId + ".jpg")'
                                                 height="300px">
        </div>
        }
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="imagedetail">
                    @for(photo <- photos) {
                    <div>
                        <table class="table-hover table-bordered text-center text-light">
                            <tr>
                                <th class="col-md-3">Camera</th>
                                <th class="col-md-4">Lens</th>
                                <th class="col-md-1">ISO</th>
                                <th class="col-md-1">Aperture</th>
                                <th class="col-md-1">Exposure</th>
                                <th class="col-md-1">Date</th>
                                <th class="col-md-1">Time</th>
                            </tr>

                            <tr>
                                <td>@photo.getCameraModel</td>
                                <td>@photo.getLensModel</td>
                                <td>@photo.getIso</td>
                                <td>@photo.getAperture</td>
                                <td>@photo.getExposureTime</td>
                                <td>@photo.getDateTaken</td>
                                <td>@photo.getTimeTaken</td>
                            </tr>
                        </table>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/assets/lib/slick/slick.min.js"></script>
<script type="text/javascript" src='@routes.Assets.versioned("javascripts/photographerdetail.js")'></script>
</body>
</html>