@import models.Photographer
@(photographers : List[Photographer])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <title>Photographers</title>
</head>
@nav.render("photographer")
<body>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-12 text-center display-2">
            Photographers
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 text-center">
            <table class="table-bordered table-hover text-center">
                @for(photographer <- photographers) {
                <tr><td><a href="/photographer/@photographer.getPhotographerId">@photographer.getPhotographer</a></td></tr>
                }
            </table>
        </div>
    </div>
</div>
</body>
</html>